@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
}

:root {
    --pricipal: #3535E6;
    --principal-escura: #0000ae;
    --pricipal-clara: #5454FF;
    --complementar: #E6C535;
    --complementar-escura: #997E05;
}

.background {
    position: absolute;
    width: 100vw;
    height: 60vh;
    top: 0;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-image: url(images/study-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 40%;
}

.background::before {
    content: '';
    display: block;
    width: auto;
    height: 60vh;
    top: 0;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: #0000aecc;
    width: auto;
}

.background h1 {
    position: absolute;
    top: 5vh;
    left: 0vw;
    right: 0vw;
    font-size: 13vh;
    color: #fff;
    text-align: center;
}

.background p {
    position: absolute;
    top: 25vh;
    left: 0vw;
    right: 0vw;
    font-size: 3vh;
    color: #fff;
    text-align: center;
}

.background ul {
    position: absolute;
    top: 40vh;
    left: 0vw;
    right: 0vw;
    display: flex;
    gap: 3vw;
    font-size: 6vh;
    justify-content: center;
}

.background ul a li i {
    color: var(--complementar);
    transition-duration: 200ms;
}

.background ul a li i:hover {
    color: var(--complementar-escura);
    transition-duration: 200ms;
    cursor: pointer;
    font-size: 7vh;
}
